flaskdatabase.txt
*.log
include/
Lib/
Scripts/
*.cfg
*.pyc
images/
flaskdatabase.csv
chromedriver.exe
env/
.ipynb_checkpoints/
TrainAndValid.csv/
Python/Udemy_ZeroToMastery_ML/bulldozerproject/data/train_tmp.csv
Python/Udemy_ZeroToMastery_ML/bulldozerproject/data/TrainAndValid.csv
Python/.idea/vcs.xml
C/.idea/dictionaries/Gebruiker.xml
Beginner_C/cmake-build-debug/CMakeFiles/C.dir/standard_library.c.o
Django/placeholder.py
*.obj
*.xml
*.exe
*.cbp
*.cmake
*.rsp
*.make
C++/cmake-build-debug/Makefile
C++/cmake-build-debug/CMakeFiles/Makefile2
*.marks
C++/cmake-build-debug/CMakeFiles/TargetDirectories.txt
*.check_cache
C++/.idea/.name
*.iml
*.bin
C++/cmake-build-debug/CMakeFiles/3.17.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
C++/cmake-build-debug/CMakeFiles/3.17.5/CompilerIdC/CMakeCCompilerId.c
C++/cmake-build-debug/CMakeFiles/Beginner__.dir/link.txt
C++/cmake-build-debug/CMakeFiles/clion-log.txt
C++/cmake-build-debug/CMakeFiles/clion-environment.txt
C++/cmake-build-debug/CMakeCache.txt
node_modules